body {
    font-family: Noto Sans, -apple-system, sans-serif;
}

h1:first-of-type { margin-top: 0em; }
h1, h2, h3, h4 { margin-top: 1em; }
h3, h4, h5, h6 { font-weight: normal; }

code, kbd, pre {
    font-family: JetBrains Mono, Fira Code, monospace;
    font-size: 0.9em;
}

code {
    background-color: rgba(0, 0, 0, 0.05);
}
